<html>
<body>
<h1>See your bunk account:<h1>
{% if message %}<p><strong>{{ message }}</strong></p>{% endif %}

<form action="{% url 'jb:allBunks' %}" method="post">
{% csrf_token %}
<label for="username">Your username:</label><br>
<input list="usernames" name="username" id="username">
<datalist id="usernames">
    {% for u in users %}
        <option value="{{u.username}}">
    {% endfor %}
</datalist>
<input type="submit" value="SEE YOUR ACCOUNT!" />
</form>

<a href="{% url 'jb:signup' %}">{{"Signup as new BUNKer"}}</a>


<h1>ALL BUNKS: <h1>
{% if bunks_list %}
    <ul>
    {% for bunk in bunks_list %}
        <li><img src="{{bunk.from_user.photo_string}}" style="width:25px;height:25px;"> <img src="{{bunk.to_user.photo_string}}" style="width:25px;height:25px;">{{"("}}{{bunk.to_user}}{{", "}}{{bunk.from_user}}{{", "}}{{bunk.pub_date}}{{")"}}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Bunks exist right now :( be the first!!!.</p>
{% endif %}

</body>
</html>